<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">Semester</a></li>
  <li><a href="#profile" data-toggle="tab">Scenario</a></li>
  <li><a href="#messages" data-toggle="tab">Resources</a></li>
  <li><a href="#settings" data-toggle="tab">Mentors</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home">
      @Html.Action("_PartialGetSemesterGrid", "Semester")
  </div>
  <div class="tab-pane clearfix" id="profile">
      @Html.Action("_PartialGetScenarioGrid", "Scenario")
  </div>
  <div class="tab-pane" id="messages">...</div>
  <div class="tab-pane" id="settings">
      @Html.Action("_PartialGetMentorGrid", "Mentor")
  </div>
</div>