@model  ICollection<CollaborativeLearning.Entities.Group>


@{
    foreach (var item in Model)
    {
          <li><a tabindex="-1" href="@Url.Action("Index","Groups",new{id=item.Id})">@item.GroupName</a></li>
    }
}