@model ICollection<CollaborativeLearning.Entities.Scenario>


@{
    if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <a href="@Url.Action("Scenario","Groups",new {id = @item.Id,GroupID=ViewBag.SemesterID})" class="list-group-item" style="padding-left: 30px;">
                <span class="glyphicon glyphicon-chevron-right"></span>
                @item.Name
            </a>
        }
    }
    else
    {
        <a href="" class="list-group-item" style="padding-left: 30px;">

                <span class="glyphicon glyphicon-warning-sign"></span>
                Any Scenario is not assigned to your group yet.
            </a>
    }

}
