@model IEnumerable<CollaborativeLearning.Entities.Semester>

@{
    ViewBag.Title = "Course";
}


@*<div class="panel panel-default">
    <div class="panel-body">
        <table id="SemesterTable" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Semester</th>
                    <th>Registration Code</th>
                    <th>Mentor Code</th>
                    <th>Groups Count</th>
                    <th>Students Count</th>
                    <th>Mentors Count</th>
                    <th>Active</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="clearfix"></tbody>
        </table>
    </div>
</div>
    

<script>

    $(document).ready(function () {

        $('#SemesterTable').dataTable({
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "Semester/SemesterAjaxHandler",
            "aoColumns": [
                    {
                        "mData": "Id",
                        "bSearchable": false,
                        "bSortable": false,
                    },
                     {
                         "mData": "SemesterName",
                         "fnRender": function (oObj) {
                             return "<a href='/Semester/SelectSemester/" + oObj.aData.Id + "' >" + oObj.aData.SemesterName + "</a>"
                         }
                     },
                     { "mData": "Registration" },
                     { "mData": "MentorCode" },
                     { "mData": "Group" },
                     { "mData": "Students" },
                     { "mData": "Mentors" },
                     { "mData": "Active" },
                     {
                         "mData": "Action",
                         "fnRender": function (oObj) {
                             return "<a href='#' id='" + oObj.aData.Id + "' class='deneme btn btn-default btn-xs' " +
                                    "data-toggle='modal' data-target='#myModal'>" +
                                      "<span class='glyphicon glyphicon-pencil'></span> Edit" +
                                    "</a>" +
                                    "<a href='../Semester/Delete/" + oObj.aData.Id + "' onclick='return confirmSemester_click();' class='btn btn-default btn-xs'>" +
                                      "<span class='glyphicon glyphicon-remove'></span> Delete" +
                                    "</a>";
                         }
                     }
            ]
        });
    });
</script>*@