@using (Ajax.BeginForm(
    "AddSceneriosToSemester",
    "Semester",
    null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "scenartioTable",
        LoadingElementId = "loadingAddingSemesterScenarios"
    }
))
{  
    @Html.Hidden("SemesterID", (int)ViewBag.ID)
<div class="col-lg-12">
    <div class="input-group">
		
			<select multiple="multiple" style="min-width:150px" id="ScenarioMultiSelect" name="ScenarioMultiSelect" class="form-control">
				@foreach (var item in ViewBag.AllScenarios as List<CollaborativeLearning.Entities.Scenario>)
				{
					<option value="@item.Id">@item.Name</option>
				}
			</select>
			<span class="input-group-addon" style="padding:1px;">
				<input type="submit" value="Add" class="btn btn-primary btn-sm" />
			</span>
		</div>

    </div>
}
<div id = "loading">
    <img src="~/Content/Template/img/loader.gif" />
</div>
<script>
    $(document).ready(function () {
        $("#ScenarioMultiSelect").select2({
            placeholder: "Start type Scenario Name",
            allowClear: true
        });
    });
</script>
<style>
    div#loading {
        display:none;
        position: absolute;
        left: 42%;
        top: 76%;
        z-index: 1000;
        height: 64px;
        width: 64px;
    }
</style>

<div id = "loadingAddingSemesterScenarios">
    <img src="~/Content/Template/img/loader.gif" />
</div>

<style>
    div#loadingAddingSemesterScenarios {
        display:none;
        position: absolute;
        left: 42%;
        top: 76%;
        z-index: 1000;
        height: 64px;
        width: 64px;
    }
</style>