@model CollaborativeLearning.Entities.Semester
@{
    CollaborativeLearning.DataAccess.UnitOfWork uw = new CollaborativeLearning.DataAccess.UnitOfWork();
    List<SelectListItem> SemesterList = new List<SelectListItem>();
    foreach (var item in uw.SemesterRepository.Get())
    {
        SemesterList.Add(new SelectListItem { Text = item.semesterName, Value = item.Id.ToString() });
	}
   
}


@using (Html.BeginForm("SelectSemester", "Semester"))
{
    @Html.AntiForgeryToken()
  <div class="input-group">
        
         @Html.DropDownListFor(Model => Model.Id, SemesterList, new{ @class="form-control"})
      <span class="input-group-addon">
          <input type="submit" value="GO">
      </span>
       
             
      

</div><!-- /input-group -->
}
<script>
    $("#GoToSemesterID").select2();
</script>