@model CollaborativeLearning.WebUI.Models.SemesterModels
@{
    ViewBag.Title = "Semester";
}
<br />
@if (ViewBag.Message == "true")
{
    if (ViewBag.MessageType == "SuccessAddSemester")
    {
        <text>
            <div class="alert alert-warning alert-dismissable" id="CreateSemesterSuccess">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Well Done!</strong>@ViewBag.Alert
            </div>
        </text>
    }
    if (ViewBag.MessageType == "FailureAddSemester")
    {
        <text>
            <div class="alert alert-warning alert-dismissable" id="CreateSemesterFailure">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Oh Snap!</strong> @ViewBag.Alert
            </div>

        </text>
    }
}



<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="btn-group ">
                    <button type="button" class="btn-xs btn-success" data-toggle="modal" data-target="#modal_semesterCreate">
                        <span class="glyphicon glyphicon-plus"></span> Add Semester
                    </button>
                </div>
            </div>
            <div class="col-lg-6 rightColumn">
                @Html.Partial("_PartialGoToSemester")
            </div>
        </div>
        <div id="CreateSemesterPartialDiv">
            @Html.Action("_PartialCreate", "Semester")
        </div>

    </div>
</div>

<table id="SemesterTable" class="display clearfix">
    <thead>
        <tr>
            <th>ID</th>
            <th>Semester Name</th>
            <th>Year</th>
            <th>Semester</th>
            <th>Group</th>
            <th>Students</th>
            <th>Mentors</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="clearfix"></tbody>
</table>



<script>

    $(document).ready(function () {

        $('#SemesterTable').dataTable({
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "Semester/SemesterAjaxHandler",
            "aoColumns": [
                    {
                        "mData": "Id",
                        "bSearchable": false,
                        "bSortable": false,
                    },
                     { "mData": "SemesterName" },
                     { "mData": "Year" },
                     { "mData": "Semester" },
                     { "mData": "Group" },
                     { "mData": "Students" },
                     { "mData": "Mentors" },
                     { "mData": "Active" },
                     {
                         "mData": "Action",
                         "fnRender": function (oObj) {
                             return "<a href='#' id='" + oObj.aData.Id + "' class='deneme btn btn-default btn-xs' " +
                                    "data-toggle='modal' data-target='#myModal'>" +
                                      "<span class='glyphicon glyphicon-pencil'></span> Edit" +
                                    "</a>" +
                                    "<a href='#' type='button' class='btn btn-default btn-xs'>" +
                                      "<span class='glyphicon glyphicon-remove'></span> Delete" +
                                    "</a>";
                         }
                     }
            ]
        });
    });
</script>
