@model ICollection<CollaborativeLearning.Entities.Group>

<div class="alert alert-warning" id="GroupUserActiveAlert">
   <div class="col-sm-1"> <img src="~/Content/Images/processing.gif" style="width:30px;height:30px" id="resourceAddProcessingIcon" class="img-responsive" /></div>
    <div class="col-lg-12">Wait your processing is continue! Thank you for patient.</div> 
</div>
@{
    if (Model.Count != 0)
    {
        foreach (var item in Model)
        {
            <div class="tab-pane active">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div id="groupNameLabel-@item.Id">
                            @item.GroupName
                        </div>
                        <input id="groupNameEdit-@item.Id" name="groupNameEdit" 
                                type="text" style="display:none" placeholder="Enter Group Name Here" 
                                class="input-large form-control" value="@item.GroupName" required />
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-6">
                            <div class="tab-pane active">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Mentors</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div id="GroupMentorListContianner-@item.Id">
                                            @Html.Action("_PartialGetGroupsMentors", "Group", new { id = item.Id, semesterId = item.SemesterID })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="tab-pane active">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Students</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div id="GroupUserListContianner-@item.Id">
                                            @Html.Action("_PartialGetGroupsUsers", "Group", new { id = item.Id, semesterId = item.SemesterID })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="tab-pane active">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Scenario</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div id="GroupScenarioListContianner-@item.Id">
                                            Scenarios
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="tab-pane active">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Scenario</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div id="GroupWorksListContianner-@item.Id">
                                            Works
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <text>This semester does not have group yet!</text>
    }
}

<script type="text/javascript">
    function confirm_click() {
        return confirm("Are you sure to delete this Group? Note: Students could be assigned this group.");
    }
</script>

<script>
    $(document).ready(function () {
        $("#GroupUserActiveAlert").hide();
        $("#groupName").val("");
    });

    function ProcessResourceChangeAcitive() {
        $("#GroupUserActiveAlert").show();
    };
    function CompleteResourceChangeAcitive() {
        $("#GroupUserActiveAlert").hide();

    };
    function SuccessUserAddGroup() {

    };
    function showEditText(id) {
        $("#groupNameEdit-" + id).show();
        $("#groupNameLabel-" + id).hide();

        $("#EditButton-" + id).hide();
        $("#UpdateButton-" + id).show();
    };
    function hideEditText(id) {
        $("#groupNameEdit-" + id).hide();
        $("#groupNameLabel-" + id).show();

        $("#EditButton-" + id).show();
        $("#UpdateButton-" + id).hide();
        var txt = $("#groupNameEdit-" + id).val();

        $.ajax({
            type: "POST",
            url: "/Group/UpdateGroupName",
            data: { id: id, text: txt }
        }).done(function () {
            $("#groupNameLabel-" + id).html(txt);
        });
    };
</script>


<style>
    div#loading {
        display: none;
        position: absolute;
        left: 42%;
        top: 76%;
        z-index: 1000;
        height: 64px;
        width: 64px;
    }
</style>