@model ICollection<CollaborativeLearning.Entities.User>
<div>
    <div>

        @using (Ajax.BeginForm("_UserToGroup", "Group", new {id = ViewBag.groupId}, new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "SemesterGroups",
            LoadingElementId = "loading",
            //OnBegin = "ProcessUserAddAcitive",
            //OnComplete = "CompleteUserAddAcitive",
            //OnSuccess = "SuccessUserAddGroup"
        }))
        {
            <div class="input-group">
                <select multiple="multiple" style="min-width: 150px"
                        id="UserMultiSelect-@ViewBag.groupId" name="UserMultiSelect" class="form-control">
                    @{
                        if (ViewBag.AllUsers != null)
                        {
                            foreach (var user in ViewBag.AllUsers as List<CollaborativeLearning.Entities.User>)
                            {
                                <option value="@user.Id">@user.FullName</option>
                            }
                        }
                    }
                </select>
                <span class="input-group-addon" style="padding: 1px;">
                    <button type="submit" class="btn-sm btn-primary">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </div>
            <br/>
        }

    </div>
</div>

<table class="table table-hover table-responsive">
    <thead>
    </thead>
    <tbody class="table-striped">
        @if (Model.Count != 0)
        {
            foreach (var item in Model)
            {
                <tr class="success">
                    <td>
                        @item.FullName
                    </td>
                    <td>
                        @Ajax.ActionLink("Remove", "DeleteUserFromGroup", "Group",
                        new { userId = item.Id, groupId = ViewBag.groupId },
                        new AjaxOptions
                        {
                            HttpMethod = "POST",
                            Confirm = "Are you sure to delete this student?",
                            UpdateTargetId = "SemesterGroups",
                            LoadingElementId = "loading",
                        },
                        null)
                    </td>
                </tr>
            }

        }
        else
        {
            <tr>
                <td colspan="4" width="100%">
                    Any user is not found!
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    $(document).ready(function () {
        $("#UserMultiSelect-@ViewBag.groupId").select2({
            placeholder: "Start type Student Name",
            allowClear: true
        });
    });
</script>
