
<link href="~/Content/DropZone/css/dropzone.css" rel="stylesheet" />
<script src="~/Content/DropZone/dropzone.js"></script>
<div>
   
    @using (Html.BeginForm("UploadHandler", "Resource", FormMethod.Post, new { enctype = "multipart/form-data",
                                                                          id = "ResourceUpload",
                                                                          @class = "dropzone" }))
    {

    <input type="hidden" name="ResourceID" value="@ViewBag.ResourceID"/>
    <div class="fallback">
        <input name="file" type="file" multiple />
        <input type="submit" value="Upload" />
    </div>
    }
</div>
<script type="text/javascript">
    // "uploadDemo" is the camelized version of the HTML form's ID
    Dropzone.options.uploadDemo = {
        paramName: "file"// Must match the name of the HttpPostedFileBase argument that the Upload action expects.
    };

</script>