<link href="~/Content/FineUploader/fineuploader-4.3.1.min.css" rel="stylesheet" />
<script src="~/Content/FineUploader/fineuploader-4.3.1.min.js"></script>
<script src="~/Content/FineUploader/all.fineuploader-4.3.1.min.js"></script>

<div id="Resourcefile-uploader">
    <noscript>
        Please enable JavaScript to use file uploader.
    </noscript>
</div>

<script>
    var uploader = new qq.FileUploader({
        element: $("#file_uploader")[0],
        action: '@Url.Action("SaveFiles", "Upload")',
        // additional data to send, name-value pass     
        params: { id: $("#id").val() },
        // validation
        // ex. ['jpg', 'jpeg', 'png', 'gif'] or []
        allowedExtensions: ['png', 'jpg', 'jpeg', 'gif', 'bmp'],
        uploadButtonText: "Select Files",
        // each file size limit in bytes
        // this option isn't supported in all browsers     
        sizeLimit: 2147483647, // max size
        minSizeLimit: 0, // min size
        multiple: true,
        autoUpload: false,
        // set to true to output server response to console
        debug: false,
        failUploadText: 'File Already Exist.',
        //extraDropzones: [$(".qq-upload-extra-drop-area")[0]]
        // events
        // you can return false to abort submit
        onSubmit: function (id, fileName) { },
        onProgress: function (id, fileName, loaded, total) { },
        onComplete: function (id, fileName, responseJSON) { },
        onCancel: function (id, fileName) { },
        messages: {
            // error messages, see qq.FileUploaderBasic for content
        },
        showMessage: function (message) { alert(message); }
    });


</script>