@{
    ViewBag.Title = "ChangePasswordSuccess";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div style="padding-top:200px"></div>
<div class=" form-horizontal form-signin", style = "max-width:600px;">
    <div class="alert alert-success">
      <strong>Well done!</strong> You successfully changed your password.
    </div>
    @Html.ActionLink("Return Back","Index", "Home",null, new {@class="btn btn-success" })
</div>
