@model CollaborativeLearning.WebUI.Models.ForgotPassword
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <h1 class="navbar-brand" style="padding:0px;" >CET 314: Computer Networks & Commuication</h1>
      </div><!-- /.container -->
    </nav>
    <div class="container" style="margin-top: 5%">
        @using (Html.BeginForm("ForgetPassword", "Account",
            FormMethod.Post, new { @class = "form-signin" }))
        {
            @Html.ValidationSummary(true, "There has been some errors. Please try again later.")	
        
            <h2 class="form-signin-heading">Forgot Password?</h2>
            <div class="control-group">
              <div class="controls">
                <input id="email" name="email" type="text" placeholder="Enter E-mail Address" class="input-large form-control" required>
            
              </div>
            </div>
        
            <button class="btn btn-large btn-success" type="submit">Send</button>
            <br /><br />
            <label class="control-label" for="firstname">

              <a href="login.html"> Login </a>
            </label>
        }

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<!--	
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>  -->

