<div class="btn-group" style="float:right; margin-top:10px">
    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
        @CollaborativeLearning.WebUI.Controllers.HelperController.GetCurrentUser().FullName<span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a class="glyphicon glyphicon-user" href="
            @Url.Action("Profile", "User", 
            new { returnUrl=ViewContext.HttpContext.Request.Url.PathAndQuery})"> Profile</a></li>
        <li><a class="glyphicon glyphicon-pencil" href="@Url.Action("ChangePassword","Account")"> Change Password</a></li>
        <li class="divider"></li>
        <li><a class="glyphicon glyphicon-log-out" href="@Url.Action("LogOff","Account")"> Logout</a></li>
    </ul>
</div>