@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <h1 class="navbar-brand" style="padding:0px;" >CET 314: Computer Networks & Commuication</h1>
      </div><!-- /.container -->
    </nav>
    <div class="container" style="margin-top: 2%">	
            <form class="form-horizontal form-signin" style="max-width:600px;">
<fieldset>

<!-- Form Name -->
<legend>Registration Form</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="firstname">First Name</label>
  <div class="controls">
    <input id="firstname" name="firstname" type="text" placeholder="Enter First Name" class="input-large form-control" required>
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="lastname">Last Name:</label>
  <div class="controls">
    <input id="lastname" name="lastname" type="text" placeholder="Enter Last Name" class="input-large form-control" required>
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="lastname">Username:</label>
  <div class="controls">
    <input id="lastname" name="lastname" type="text" placeholder="Enter Username" class="input-large form-control" required>
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="email"> Email Address</label>
  <div class="controls">
    <input id="email" name="email" type="text" placeholder="Enter E-mail Address" class="input-large form-control" required>
    
  </div>
</div>

<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="password">Password</label>
  <div class="controls">
    <input id="password" name="password" type="password" placeholder="Enter Password" class="input-large form-control" required>
    <p class="help-block">Min: 6 characters (Alphanumeric only)</p>
  </div>
</div>

<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="passwordagain">Password Again</label>
  <div class="controls">
    <input id="passwordagain" name="passwordagain" type="password" placeholder="Enter Password Again" class="input-large form-control" required>
    <p class="help-block"> Min: 6 characters (Alphanumeric only)</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="registr_code">Registration Code</label>
  <div class="controls">
    <input id="registr_code" name="registr_code" type="text" placeholder="Enter Registration Code" class="input-large form-control" required>
    
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="register_btn"></label>
  <div class="controls">
    <button id="register_btn" name="register_btn" class="btn btn-primary">Register</button>
   <a href="login.html" class="btn btn-success">Login</a> <span>Alread have an account?</span>
  </div>
</div>

</fieldset>
</form>

</div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<!--	
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>  -->

