@model IEnumerable<CollaborativeLearning.Entities.Work>
@{
    ViewBag.Title = "Works";
}
@foreach (var item in Model)
{
    <div class="panel panel-primary">
      <div class="panel-heading">
          <div class="col-lg-4">
              <div>
                Work : @item.Name
              </div>
          </div>
              <div class="text-right">
                  <div class="panel-body">
                    <div class="btn-group ">
                        <a href='#' class='deneme btn btn-default btn-xs' data-toggle='modal' data-target='#modal_updateWork-@item.Id'>
                            <span class='glyphicon glyphicon-pencil'></span> Edit 
                        </a>
                        @*<button type="button" class="btn-xs btn-success" data-toggle="modal" data-target="#modal_updateWork-@item.Id">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>*@
                        <a href='../../Work/Delete/@item.Id' onclick='return confirm_click();' class='btn btn-default btn-xs'>
                           <span class='glyphicon glyphicon-remove'></span> Delete </a>
                    </div>
                    <div id="UpdateWorkForm-@item.Id">
                        @Html.Action("_PartialWorkUpdate", "Work", new {id=item.Id,scenarioId = TempData["scenarioId"] })
                    </div> 
                  </div> 
              </div>
      </div>
      <div class="panel-body">
          Work : @item.Description
      </div>
    </div>       
    
}

<script type="text/javascript">
function confirm_click()
{
    return confirm("Are you sure to delete this Work? Note: This Work can be assigned more than one scenario.");
}

</script>