@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GroupLayout.cshtml";
}

@section OwnGroupLink{
	<h4>My Group</h4>
}
@section BreadCrump{
	<li>@Html.ActionLink("Home", "Index", "Home")</li>
}
@section Header{
	<h3>Deneme</h3>

}